@model IEnumerable<ImprovShowPlanner.Models.Show>

@{
    ViewBag.Title = "Shows";
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="CreateDatePage">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IndivShow.Date)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndivShow.Date)
            </td>
            <td>
                @Html.ActionLink("Select","Index",new {id = item.IndivShowId}) |
                <a asp-action="Edit" asp-route-id="@item.ShowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShowId">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
